@import com.example.reservation.api.ReservationAdded
@import com.example.web.controllers._
@import com.example.web.controllers.routes.Main

@(added: ReservationAdded)(implicit rh: RequestHeader, messages: Messages)

@main(Messages("reservationAdded")) {
    <h2>@Messages("reservationAdded")</h2>

    <p>@Messages("reservationAddedDescription")</p>

    <p><a href="@Main.reservations(added.listingId)">@Messages("viewReservationsForListing")</a></p>
    <p><a href="@Main.index()">@Messages("backToSearch")</a></p>
}